{% extends 'base.html.twig' %}

{% block title %}Enregistrement Etudiant{% endblock %}

{% block body %}
<h1 class="font-weight-light text-center">Enregistrement Etudiant</h1>
<div class="row  bg-info">
{{ form_start(form)}}
{{ form_widget(form)}}
<input type="submit" value="Enregistrer">
{{ form_end(form)}}
</div>
{% endblock %}
