{% extends 'base.html.twig' %}

{% block title %}Enregistrement Etudiant{% endblock %}

{% block body %}
<h3 class="font-weight-light text-center ">Enregistrement Etudiant</h3>
<div class="col-md-5 rounded  container m-auto  bg-info">
{{ form_start(form)}}
{{ form_widget(form)}}
<input type="submit" value="Enregistrer">
{{ form_end(form)}}
</div>
{% endblock %}
